.App {
  background-color: #1A1446;
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type=submit] {
  display:block;
  background-color: #FFD000;
  border: none;
  color: white;
  font-weight: 900;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

input[type=text] {
  display:block;
  margin-left: 20px;
  padding: 0 5px 0 5px;
  height: 25px;
  top: -5px;
  position: relative;
  border: none;
  font-weight: 900;
}

.question {
  margin: 40px 0 40px 0;
}

.question input, .question label, .question .form-label {
  display: inline;
}